table,
table th,
table td {
    border: 1px solid black;
    border-collapse: collapse;
}

table td{
    text-align: center;
}

table{
    margin-bottom: 1em;
}

.rehearsalScoreDiv{
    margin-bottom: 1em;
}